<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>基础教程</key>
	<array>
		<dict>
			<key>01</key>
			<array>
				<dict>
					<key>01</key>
					<string>绪论、疾病概论</string>
				</dict>
				<dict>
					<key>02</key>
					<string>水、电解质代谢紊乱</string>
				</dict>
				<dict>
					<key>03</key>
					<string>酸碱平衡和酸碱平衡紊乱</string>
				</dict>
                <dict>
					<key>09消化系统疾病</key>
					<array>
                        <dict>
                            <key>01消化系统疾病一</key>
                            <string>base/1383554640886.html</string>
                        </dict>
                        <dict>
                            <key>02消化系统疾病二</key>
                            <string>base/1383554641407.html</string>
                        </dict>
                    </array>
				</dict>
			</array>
		</dict>
        <dict>
			<key>02</key>
			<array>
				<dict>
					<key>01</key>
					<string>绪论、疾病概论</string>
				</dict>
				<dict>
					<key>02</key>
					<string>水、电解质代谢紊乱</string>
				</dict>
				<dict>
					<key>03</key>
					<string>酸碱平衡和酸碱平衡紊乱</string>
				</dict>
			</array>
		</dict>
	</array>
    
    <key>基础教程1</key>
	<array>
		<dict>
			<key>01</key>
			<array>
				<dict>
					<key>01</key>
					<string>绪论、疾病概论</string>
				</dict>
				<dict>
					<key>02</key>
					<string>水、电解质代谢紊乱</string>
				</dict>
				<dict>
					<key>03</key>
					<string>酸碱平衡和酸碱平衡紊乱</string>
				</dict>
                <dict>
					<key>09消化系统疾病</key>
					<array>
                        <dict>
                            <key>01消化系统疾病一</key>
                            <string>base/1383554640886.html</string>
                        </dict>
                        <dict>
                            <key>02消化系统疾病二</key>
                            <string>base/1383554641407.html</string>
                        </dict>
                    </array>
				</dict>
			</array>
		</dict>
        <dict>
			<key>02</key>
			<array>
				<dict>
					<key>01</key>
					<string>绪论、疾病概论</string>
				</dict>
				<dict>
					<key>02</key>
					<string>水、电解质代谢紊乱</string>
				</dict>
				<dict>
					<key>03</key>
					<string>酸碱平衡和酸碱平衡紊乱</string>
				</dict>
			</array>
		</dict>
	</array>
    
</dict>
</plist>
